*.pyc
*.pyo
*.pyd
*.log
astron/
config/spellbook.json
data/
resources/
news/
sign/
whitelist/
*.so
*.DS_Store
*.jpg
.idea
venv/
useropt.json
!win32/.vscode/tasks.json
!linux/.vscode/tasks.json
!darwin/.vscode/tasks.json
*.buildings
*.trackRecords
PPYTHON_PATH
local/
errorCode
